<p-table #dtTableGeneric showGridlines [value]="data" [selection]="dataSelected"
  (selectionChange)="onSelectedRecords($event)" [dataKey]="table.fieldId" [responsive]="true" [rowHover]="true"
  [rows]="table.rowsPerPageOptions ? table.rowsPerPageOptions[0] : 0" [showCurrentPageReport]="true"
  [lazy]="!(table.isDataLocal ?? false)" [lazyLoadOnInit]="table.lazyLoadOnInit ?? false"
  (onLazyLoad)="onLazyLoadRecords($event)" [totalRecords]="totalRecords" [rowsPerPageOptions]="table.rowsPerPageOptions"
  [paginator]="table.paginator" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} totales"
  [filterDelay]="0" [scrollable]="true" [first]="first" [tableStyle]="{'width': width ? width + 'width' : '100%' }"
  paginatorDropdownAppendTo="body" [rowTrackBy]="trackByFunction" scrollHeight="200px"
  styleClass="text-center p-datatable-sm p-0">

  <ng-template #header>
    <tr>
      @for (col of selectColumns; track $index) {
      <th class="px-0.5 py-0 text-xxs bg-white sticky top-0 z-10 text-center w-min">
        <div class="flex flex-col items-center">
          <!-- select all -->
          @if (col.type === typesColumns.MULTI_SELECT) {
          <div>
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </div>
          }

          <!-- ordenamiento -->
          @if ((col.sort ?? false) && col.type !== typesColumns.HIDDEN) {
          <div [pSortableColumn]="col.field" class="flex items-center gap-0.5">
            <p-sortIcon [field]="col.field" class="text-gray-500">
            </p-sortIcon>
            {{ col.label }}
            @if (col.filter ?? false) {
            <p-columnFilter [type]="col.type ?? typesColumns.STRING" [field]="col.field" display="menu"
              [showButtons]="false" class="ml-auto text-gray-500"
              [matchModeOptions]="col.type === typesColumns.DATE ? [matchModeOptions[1]] : matchModeOptions"
              [matchMode]="matchModeOptions[0].value" [showMatchModes]="true" [showOperator]="false"
              [showAddButton]="false">
            </p-columnFilter>

            }
          </div>
          }

          <!-- filtro -->
          @if (!col.sort && col.type !== typesColumns.HIDDEN) {
          <div class="flex items-center gap-0.4">
            {{ col.label }}
            @if (col.filter ?? false) {
            <p-columnFilter [type]="col.type ?? typesColumns.STRING" [field]="col.field" display="menu"
              [showButtons]="false" class="ml-auto text-gray-500"
              [matchModeOptions]="col.type === typesColumns.DATE ? [matchModeOptions[1]] : matchModeOptions"
              [matchMode]="matchModeOptions[0].value" [showMatchModes]="true" [showOperator]="false"
              [showAddButton]="false">
            </p-columnFilter>
            }
          </div>
          }
        </div>
      </th>
      }
    </tr>
  </ng-template>


  <ng-template #caption>
    <!-- pendiente recibir mas acciones -->
    <div class="flex overflow-hidden">
      @if (showButtonCleanFilters) {
      <div class="flex-none flex justify-content-start">
        <p-button icon="pi pi-filter-slash" [rounded]="true" severity="secondary" [outlined]="true"
          styleClass="border-400 text-600 ml-1 button-custom-table-generic" (click)="onResetFilters()"></p-button>
        <p-multiSelect #multiselectColumns [options]="table.columns" [showToggleAll]="true" [selectAll]="isSelectAll"
          styleClass="border-400 text-600 ml-1 button-custom-table-generic" dropdownIcon="pi pi-list"
          optionLabel="label" appendTo="body" [maxSelectedLabels]="1" (onSelectAllChange)="onSelectAllChange($event)"
          (onChange)="onSelectMulti($event)" (onClear)="onClear()">
        </p-multiSelect>
      </div>
      }
      <div class="flex-grow flex justify-end">
        <ng-content></ng-content>
      </div>
    </div>
  </ng-template>



  <ng-template #body let-record>
    <tr>

      @for (col of selectColumns; track $index) {
      <td class="px-2 py-0.5 text-sm text-center">
        @switch (col.type) {
        @case (typesColumns.MULTI_SELECT) {
        <div>
          <p-tableCheckbox [value]="record"></p-tableCheckbox>
        </div>
        }
        @case (typesColumns.SINGLE_SELECT) {
        <div>
          <p-tableRadioButton [value]="record"></p-tableRadioButton>
        </div>
        }
        @case (typesColumns.ACTION) {
        <div class="flex py-0 px-0 my-0 fmx-0 custom-icon-size items-center gap-0">
          @for (btn of record['acciones']['botonera']; track $index) {
          <p-button [rounded]="true" [text]="false" [disabled]="col.field && record[col.field] ? false : true"
            (onClick)="col?.action(record, btn)" class="text-xs" styleClass="p-button-sm p-button-text"
            pTooltip="{{ btn.tooltip }}" tooltipPosition="top" tooltipStyleClass="tooltip-custom">
            <i class="pi {{ btn.icon }}" [ngStyle]="{'color': btn.color}"></i>
          </p-button>
          @if (btn.exec === 'check') {
          <input type="checkbox" class="p-checkbox-box custom-checkbox" [checked]="record.isCheckedAction || false"
            (change)="col?.action(record, btn)">
          }
          }
        </div>
        }
        @case (typesColumns.HIDDEN) {
        <div>
          @if (col.field) {
          <div class="hidden">
            {{ record[col.field] }}
          </div>
          }
        </div>
        }
        @case (typesColumns.TRUNCATE_TEXT) {
        <div>
          @if (col.field) {
          <div class="w-40 truncate">
            {{ record[col.field] }}
          </div>
          }
        </div>
        }
        @default {
        <div>
          @if (col.field) {
          <div>
            @switch (col.format) {
            @case (typesFormat.UPPERCASE) {
            <div>
              {{ record[col.field] | uppercase}}
            </div>
            }
            @case(typesFormat.LOWERCASE){
            <div>
              {{ record[col.field] | lowercase }}
            </div>
            }
            @case(typesFormat.CAPITALIZE){
            <div class="capitalize">
              {{ record[col.field] | titlecase }}
            </div>
            }
            @case(typesFormat.DATE){
            <div class="text-xs px-1 py-0">
              {{ formatDate(record[col.field], typesFormatDate.API) }}
            </div>
            }
            @case(typesFormat.DATETIME){
            <div class="text-xs px-1 py-0">
              {{ formatDate(record[col.field], typesFormatDate.API_DATETIME) }}
            </div>
            }
            @case(typesFormat.TIME){
            <div class="w-40 text-xs px-1 py-0">
              {{ formatDate(record[col.field], typesFormatDate.API_TIME) }}
            </div>
            }
            @case(typesFormat.TIME_HMS){
            <div class="text-xs px-1 py-0">
              {{ formatDate(record[col.field], typesFormatDate.API_TIME_HMS) }}
            </div>
            }
            @default{
            <div>
              {{ record[col.field] }}
            </div>
            }
            }
          </div>
          }
        </div>
        }
        }
      </td>
      }
    </tr>
  </ng-template>

  <ng-template #emptymessage>
    <tr>
      <td [colSpan]="table.columns.length">{{ message }}</td>
    </tr>
  </ng-template>
</p-table>