<h1 class="font-bold text-xl">Angular v18</h1>

<h2 class="font-bold text-xl">IconMoon</h2>
<i class="icon-home"></i>
<i class="icon-user"></i>
<i class="icon-settings"></i>
<span class="icon-heart"></span>

<h2 class="font-bold text-xl">PrimeNG</h2>
<div class="card flex justify-center">
  <p-button label="Check"></p-button>
</div>

<h2 class="font-bold text-xl">Tailwind</h2>
<div class="mx-auto">
  <input type="text" pInputText placeholder="Overriden" class="p-8" />
</div>



<router-outlet />