<h1 class="font-bold text-xl">Angular v18</h1>

<h2 class="font-bold text-xl">IconMoon</h2>
<i class="icon-home"></i>
<i class="icon-user"></i>
<i class="icon-settings"></i>
<span class="icon-heart"></span>

<h2 class="font-bold text-xl">PrimeNG</h2>
<div class="card flex justify-center">
  <p-button label="Check"></p-button>
</div>

<h2 class="font-bold text-xl">Tailwind</h2>
<div class="mx-auto">
  <input type="text" pInputText placeholder="Overriden" class="p-8" />
</div>

<h2 class="font-bold text-xl">CodeMirror</h2>
<app-code-editor></app-code-editor>

<iframe [src]="sanitizedUrl"></iframe>

<p-button (click)="showDialog()" label="Modal" />

<p-dialog header="PDF" [modal]="true" [(visible)]="visible" [style]="{ width: '50%' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
  <app-pdf-viewer></app-pdf-viewer>
</p-dialog>


<router-outlet />