<div class="p-card p-3">
  <app-table-generic [showButtonCleanFilters]="false" [data]="brigadas" [totalRecords]="brigadas.length"
    [table]="table"></app-table-generic>
</div>

<div class="card flex justify-center">
  <p-button (click)="showDialog()" label="Nuevo Registros" />
  <p-dialog header="Header" [modal]="true" [(visible)]="visible" [style]="{ width: '100vw', height: '100vh' }"
    [contentStyle]="{ 'height': '100%', 'overflow': 'auto' }" [breakpoints]="{ '1199px': '100vw', '575px': '100vw' }"
    [maximizable]="true">
    <div class="p-grid p-justify-center">
      <div class="p-col-12 p-md-10 p-lg-8">
        <app-dynamic-form02 [config]="formConfig" [formData]="formData"
          (formSubmit)="onFormSubmit($event)"></app-dynamic-form02>
      </div>
    </div>
  </p-dialog>
</div>