/* You can add global styles to this file, and also import other style files */

//Si descargaste los iconos, agrégalo manualmente:
// @import 'assets/fonts/icomoon/style.css';

.icon-home {
  font-size: 24px;
  color: #ff5733;
}

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}
/* Ajuste de diseño del tooltip */
.tooltip-custom {
  font-size: 14px !important;
  padding: 6px 10px !important;
  border-radius: 4px !important;
  white-space: nowrap !important;
}

/* Ajusta la posición si es necesario */
.tooltip-custom.p-tooltip {
  transform: translateY(-5px) !important; /* Mueve el tooltip un poco más arriba */
}

/* Si el texto del tooltip se corta */
.tooltip-custom .p-tooltip-text {
  white-space: nowrap !important;
  max-width: 200px; /* Ajusta el ancho máximo */
  overflow: hidden;
  text-overflow: ellipsis;
}
